# Python / Flask
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.egg-info/
.venv/
venv/
instance/
.env
*.log

# Bases locales
*.sqlite
*.sqlite3
*.db

# Front
node_modules/
dist/
build/
.build/
.cache/

# OS / IDE
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Fichiers lourds/perso
/static/uploads/
uploads/
*.psd
*.ai
*.pdf
*.docx
*.docm
*.dotm
*.pptx
*.zip
*.bak
*.tmp

imports.dot

!imports_app.svg
!imports_db.svg

imports_all_tmp.py
imports.dot
imports_*.svg
exports_local/
*_DEBUG.html
