# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv*/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# OS
Thumbs.db
.DS_Store

# Logs / temp
startup_error.log

# Secrets / données locales
.env
*.db
uploads/
.pgbackup/
.pginfo/
*.psd
